//====================================================================================================
.container__first-block {
    display: flex;
    flex-direction: column;
    // height: 100vh;

    @media screen and (min-width: 1440px) {
        height: 100vh;
    }
}

.banner {
    flex: 1 1 auto;
    position: relative;

    // .banner__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        // @media screen and (max-width: 768px) {
        //     object-fit: cover;
        //     object-position: center bottom;
        // }
    }

    // .banner__wrap
    &__wrap {
        max-width: 646px;
        margin: 0 auto;
        padding-left: 22px;

        @media screen and (max-width: 768px) {
            padding: 0px 10px;
            // height: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
    }

    // .banner__strizh
    &__strizh {
        position: absolute;
        top: 40px;
        left: 53px;
        width: 180px;
        height: 205px;


        @media screen and (max-width: 1050px) {
            top: 0%;
            left: 0;
            width: 180px;
        }

        // @media screen and (max-width: 930px) {
        //     width: 120px;
        //     height: 150px;
        // }

    }

    // .banner__title

    &__title {
        // position: relative;
        display: inline-flex;

        svg {
            width: 100%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    // .title-banner
    .title-banner {
        img {
            max-width: 100%;
        }
    }



    // .banner__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #38538B;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
        margin-top: -20px;
        margin-left: 20px;
        max-width: 320px;
        margin-bottom: 370px;

        @media screen and (min-width: 768px) {}
    }
}

.line-bottom {
    border: 1px solid #476198;
    position: relative;
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 646px 1fr;
    align-items: center;
    padding: 6px 0px;
    background-color: #476198;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: url(../img/pattern.png);
        background-repeat: repeat-x;
        background-size: 180px;
        opacity: .43;
    }

    // &::after {
    //     content: '';
    //     display: flex;
    //     align-items: center;
    //     min-width: 10px;
    //     height: 5px;
    //     background: rgba(224, 182, 108, 0.4);
    //     border-radius: 100px;
    //     // display: none;
    // }

    // .line-bottom__body

    &__body {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        // max-width: 646px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1024px) {
            padding: 0px 8px;
        }

        @media screen and (max-width: 400px) {
            padding: 0px 10px;
        }
    }

    .line {
        width: 100%;
        min-width: 20px;
        height: 5px;
        background: rgba(224, 182, 108, 0.4);
        border-radius: 100px;

        @media screen and (max-width: 400px) {
            min-width: 10px;
        }

    }

    .line-big {
        display: flex;
        align-items: center;
        min-width: 10px;
        height: 5px;
        background: rgba(224, 182, 108, 0.4);
        border-radius: 100px;
    }

    // .line-bottom__text

    &__text {
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #EDC989;
        margin: 0px 8px;

        @media screen and (max-width: 1545px) {
            font-size: 30px;
        }

        @media screen and (max-width: 678px) {
            font-size: 20px;
        }

        @media screen and (max-width: 400px) {
            font-size: 16px;
        }
    }
}

//====================================================================================================